*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root {
    --main-color: #FF6F28;
}
 /* ------------------------------------------------header---------------------------------------------------------- */
header{
    background-image: url("./images/image\ 13.png");
   width: 100%;
    
    height: 662px;
    color: #fff
}
.header_logo{
    display: flex;
    margin: 20px;
    cursor: pointer;
}
.bars{
    display: none;
}
.human{
    display: none;
}
 .header_container{
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav a{
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    padding-bottom: 5px;
}
.started{
    transition: all 0.3s ease;
}
.started:hover{
    transform: scale(1.1);
    background-color: #FF6F28;
}

/* thay đổi màu chữ khi lia chuột vào */
.header_nav a:hover{
    color: aqua;
   
}
/* hiệu ứng line lướt dưới font chữchữ */
.header_nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
.header_nav a:hover::after{
    width: 100%;
   
}
.btn{
    border: none;
    background-color: transparent;
    color: #FF6F28;
    margin: 10px;
    font-size: 18px;
}
.register{
    position: relative;
    border-radius: 20px;
    border: 3px solid  #FF6F28;
background: transparent;
padding: 12px 20px;
box-sizing: border-box;
cursor: pointer;
overflow: hidden;
z-index: 1;

}
/* hover .background trượt màumàu */
.register::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 100%;
    background: #FF6F28;
    transition: all 0.3s ;
    z-index: -1;
}
.register:hover::before{
    width: 100%;
    
}
.register{
    color: #FFF;
}

.background_content {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.started{
    color: #FFF;
    background-color: #FF6F28;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.font{
    margin-top: 100px;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    width: 600px;
    
}
.We{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
     align-items: center;
     justify-content: center;
    font-size: 20px;
    color: #FFF;
    width: 600px;
}
.service_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 150px;
}
.service{
    box-sizing: border-box;
    box-shadow: 0px 21px 97px 0px rgba(136, 82, 82, 0.25);

    color: black;
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    gap: 120px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100px;

   
    
}

.service i{    
    background-color: #FFE7DB;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.service_item{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.icon{
    cursor: pointer;
   margin-bottom: 20px;
    background-color: #FF6F28;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
}
.categori{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.line{
    border: 1px solid black;
    margin-top: 50px;
}
.titel{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    color: black;
   align-items: center;   
   justify-content: center;
}
.see{
    position: relative;
    right: -84%;
    font-size: 20px;
    color: #FF6F28;
    margin-bottom: 10px;
    
  
}
.nexts{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -250px;
    gap: 900px;
}
.prev{
    cursor: pointer;
    background-color: #FF6F28;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.next{
    cursor: pointer;
    background-color: #FF6F28;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------------------responsive----------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
    .header_container .header_nav{
        /* display: none; */
    }
    header{
        background-image: none;
    }
    .human{
        display: flex !important;
        color: #FF6F28;
        font-size: 45px;
        margin: 10px;
    }
    .login{
        display: none;
    }
    .register{
        display: none;
    }
    .header_logo{
        display: flex
;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 27px;
    margin: 10px;
    color: black;

    }
    /* logo header */
    .background_content{
        background-image: url("./images/image\ 13.png");
        height: 600px;
        width: 100%;
        left: -20px;
        gap: 30px;
        .We{
            color: #FFFFFF;
           width: 291px;
           font-weight: 400;
        }
        .started{
            width: 150px;
            height: 55px;
        }
        }
    
        .header_nav{
           display: flex;
           flex-direction: column;
           top: 0;
           left: -100%;
           position: fixed;
           width: 30%;
           height: 70vh;
           background-color: #FF6F28;
           text-align: right;
           cursor: pointer;
           transition: all 0.6s ease;


        }
        .header_nav.active{
            left: 0;
        }
        .bars{
            z-index: 3;
            position: relative;
            display: block;
        }
       

    .service_container{
        margin: 70px;
        .service{
            width: 0;
             height: 0;

        }
          
        .menu-item:nth-child(3) {
            
            flex-basis: 100%;
            justify-content: center;
         }
            
        
        }
        
      
        .line{
            display: none;
        }
        .categori{
            .categori__item{
               width: 100%;
              
            }
            
        }
        .nexts{
        .next{
            display: none;

        }
        .prev{
            display: none;
        }
        }

}
    